
a{
    color:rgb(187, 50, 187)
}

h3{
    background: darkmagenta;
    width: fit-content;
}

h1{
    background: darkmagenta;
    width: fit-content;
}
img{
        border: 5px darkmagenta solid;
        width:300px ;
        height:300px ;
 }
 #myHoppies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

