.img {
    display: flex;
    align-items: center; /* محاذاة العناصر عمودياً في المنتصف */
    justify-content: center; /* محاذاة العناصر أفقياً في المنتصف */
    margin-bottom: 20px; /* مسافة من الأسفل */
}

.img img {
    width: 100px; /* حجم الصورة */
    height: 50px;
    margin-left: 0px;
    margin-right: 10px; /* مسافة بين الصورة والنص */
    border-radius: 50%; /* لجعل الصورة دائرية (اختياري) */
    object-fit: cover; /* لتجنب تشويه الصورة */
}

.img h2 {
    color: white; /* لون النص */
    font-size: 24px; /* حجم النص */
    margin: 0; /* إزالة الهوامش الافتراضية */
    white-space: nowrap;
    margin-right: 40px;
}