/* Style for the header container */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
    color: white;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    user-select: none;
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    user-select: none;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
