.img {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 20px; 
}

.img img {

    width: 50px; /* حجم الصورة */
    height: 50px;
    margin-left: 0px;
    margin-right: 10px; /* مسافة بين الصورة والنص */
    object-fit: cover; /* لتجنب تشويه الصورة */
}

.img h2 {
    color: rgb(0, 0, 0); /* لون النص */
    font-size: 24px; /* حجم النص */
    margin: 0; /* إزالة الهوامش الافتراضية */

    width: 10%;
    height: auto;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 50%; 
    object-fit: cover; 
}

.img h2 {
    color: black;
    font-size: 24px; 
    margin: 0; 
    white-space: nowrap;
    margin-right: 40px;
}