.img {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 20px; 
}

.img img {
    width: 10%;
    height: auto;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 50%; 
    object-fit: cover; 
}

.img h2 {
    color: black;
    font-size: 24px; 
    margin: 0; 
    white-space: nowrap;
    margin-right: 40px;
}