* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amiri", serif;
    background-color: #1c204e;
}

#mainbox {
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 30px;
}

#mainbox:hover {
    color: #f44336;
}

#list {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #282e74;
    padding: 40px;
    transition: left 0.3s ease-in-out;
}

#list.open {
    left: 0; 
}

#list ul {
    list-style: none;
    margin-top: 40px;
}

#list ul li {
    margin: 40px 0;
}

#list ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s;
}
.Tennis{
    white-space:nowrap;}
.football:hover {
    border-radius: 5px;
    background-color: #02c13b; 
}

.Basketball:hover {
    border-radius: 5px;
    background-color: #ec7118;
}

.Volleyball:hover {
    border-radius: 5px;
    background-color: rgb(11, 114, 231);
}

.handball:hover {
    border-radius: 5px;
    background-color: #fc0cc4;
}

.Tennis:hover {
    border-radius: 5px;
    background-color: #939302;
}

.swimming:hover {
    border-radius: 5px;
    background-color: rgb(255, 69, 106);
}

#close-btn {
    font-size: 40px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
}

#close-btn:hover {
    color: #f44336;
}

.list ul li a:hover {
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    background-color: #4caf50;
    border-radius: 5px;
}

.list ul:hover li a {
    opacity: 0.4;
    transition: opacity 0.3s;
}