* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amiri", serif;
  background-color: #1c204e;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .cards {
    padding: 20px;
    gap: 20px;
  }
  .sport-card {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .cards {
    width: 750px;
  }
  .sport-card {
    flex: 0 1 calc(33.33% - 30px);
  }
}

@media (min-width: 992px) {
  .cards {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .cards {
    width: 1170px;
  }
}


/*videos section*/
.content-list .vid {
  display: flex;
  flex-direction: column;
  border: #1c204e 10px;
  justify-self: right;
  background-color: #cfcaca;
  background-size: 400px;
  margin: 20px;
  gap: 15px;
  align-items: flex-start;
  padding: 17px;
  border: 5px solid rgb(229, 203, 177);
  border-radius: 15px;
  background-color: rgb(229, 203, 177);
  color: #000;
  width: 35%;
}