@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Readex+Pro:wght@160..700&display=swap');
.Btn-nav{
    font-family:  "Amiri", serif;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin-left: 1.9rem;
    background-color: rgba(255, 0, 0, 0.952);
    border-color: rgb(255, 62, 62);
    cursor: pointer;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease;
}
.Btn-nav:hover{
    background-color: rgb(255, 214, 175);
    transform: scale(1.09);
    color: #363535;
}